<%- include("../partials/_sidebar") %>
<div class="col-9">
  <br>

  <h2 class="text-center"> Activity <small class="text-muted">#<%= result.projectid %> <%= result.name %></small></h2>
  <hr>
  <% activitydate.forEach((item) => { %>
  <div class="card bg-light mb-3" style="max-width: 60rem;">
    <div class="card-header">
      <strong><%= item.date %></strong>
    </div>
    <% item.data.forEach((list) => { %>
    <div class="card-body">
      <p class="card-text">
        <span class="badge badge-primary"><%= list.timeactivity %></span><br />
        <strong><%= list.title %></strong> - <%= list.description %><br />
        Author: <%= list.author %>
      </p>
    </div>
    <% }) %>
  </div>
  <% }) %>

</div>
</div>

<%- include("../partials/_footer") %>