<%- include("../partials/_navbar") %>

<div class="container-fluid">
  <br>
  <h2>Projects</h2>
  <hr>

  <h3>Filters</h3>
  <div class="container">
    <form id="form-filter" method="GET">
      <div class="form-group row">
        <label for="inputID" class="col-sm-2 col-form-label"> <input type="checkbox" name="checkID"> ID</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name='inputID' placeholder="ID">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputString" class="col-sm-2 col-form-label"> <input type="checkbox" name="checkString">
          Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name='inputString' placeholder="String">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputBoolean" class="col-sm-2 col-form-label"> <input type="checkbox" name="checkBoolean">
          Member</label>
        <div class="col-sm-10">
          <select class="custom-select" name="inputBoolean">
            <option value="false">false</option>
            <option value="true" selected>true</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
  <br>
  <hr>

  <form id="form-option" method="GET">
    <h3>Options <small>columns</small></h3>
    <div class="container">
      <div class="form-check">
        <input class="form-check-input" id="checkID" type="checkbox" name="checkID" value="id" checked>
        <label class="form-check-label" for="checkID">
          ID
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" id="checkName" type="checkbox" name="checkName" value="name" checked>
        <label class="form-check-label" for="checkName">
          Name
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" id="checkMember" type="checkbox" name="checkMember" value="member">
        <label class="form-check-label" for="checkMember">
          Member
        </label>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Apply</button>
  </form>
  
  <br> <br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col" hidden>Member</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% result.forEach((element, index) => { %>
      <tr>
        <th scope="row"> <%= element.projectid %></th>
        <td><%= element.name %></td>
        <td hidden> User <%= index + 1 %></td>
        <td>
          <a class="btn btn-success btn-sm" href="" role="button">Edit</a>
          <a class="btn btn-danger btn-sm" href="" role="button">Delete</a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <a class="btn btn-primary" href="/project/add" role="button">Add</a>
  <hr>

  <%- include("../partials/_footer") %>