<%- include("../partials/_sidebar") %>

<div class="col-9">
  <br>
  <h2 class="text-center"> Overview <small class="text-muted">#<%= result.projectid %> <%= result.name %></small> </h2>
  <br>

  <div class="card">
    <div class="card-body">
      <h5>Issue Tracking</h5>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Bug
          <span class="badge badge-danger badge-pill"><%= bugOpen %> open / <%= bugTotal %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Feature
          <span class="badge badge-primary badge-pill"><%= featureOpen %> open / <%= featureTotal %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Support
          <span class="badge badge-success badge-pill"><%= supportOpen %> open / <%= supportTotal %></span>
        </li>
      </ul>
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-body">
      <h5>Member</h5>
      <ul class="list-group">
        <% data.forEach(item => {  %>
        <li class="list-group-item"><%= item.firstname %> <%= item.lastname %> </li>
        <% }) %>
      </ul>
    </div>
  </div>

</div>
</div>


<%- include("../partials/_footer") %>