<%- include("../partials/_sidebar") %>

<div class="col-9">
  <br>

  <h2 class="text-center"> Members <small class="text-muted">#<%= result.projectid %> <%= result.name %></small></h2>
  <hr>

  <div class="container-fluid">
    <h3>Edit Member</h3>
    <br>
    <form method="POST">
      <div class="form-group row">
        <label for="inputMember" class="col-sm-2 col-form-label">Member</label>
        <div class="col-sm-10">
          <input type="name" class="form-control" id="inputMember" name="inputMember"
            value="<%= dataUser.firstname %> <%= dataUser.lastname %>" readonly>
        </div>
      </div>

      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Position</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="inputPosition" id="gridRadios1" value="Manager"
                <%= dataUser.role == 'Manager' ? 'checked' : '' %>>
              <label class="form-check-label" for="gridRadios1">
                Manager
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="inputPosition" id="gridRadios2"
                value="Software Developer" <%= dataUser.role == 'Software Developer' ? 'checked' : '' %> >
              <label class="form-check-label" for="gridRadios2">
                Software Developer
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="inputPosition" id="gridRadios3"
                value="Quality Assurance" <%= dataUser.role == 'Quality Assurance' ? 'checked' : '' %> >
              <label class="form-check-label" for="gridRadios3">
                Quality Assurance
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn" style="background-color: #321a75; color: #fff;">Edit</button>
          <a class="btn btn-warning" href="/project/member/<%= result.projectid %>" role="button">Back</a>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

<%- include("../partials/_footer") %>