<%- include("../partials/_sidebar") %>
<div class="col-9">
  <br>

  <h2 class="text-center"> Issues <small class="text-muted">#<%= result.projectid %> <%= result.name %></small></h2>
  <hr>

  <div class="container-fluid">
    <h3>Filter</h3>
    <form method="GET">
      <input type="hidden" name="page" value="1">
      <div class="form-group row">
        <label for="inputID" class="col-sm-2 col-form-label"> <input id="inputID" type="checkbox" name="checkID">
          ID </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="inputID" placeholder="Issue ID">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputSubject" class="col-sm-2 col-form-label"> <input id="inputSubject" type="checkbox"
            name="checkSubject">
          Subject</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="inputSubject" placeholder="Subject Issue">
        </div>
      </div>

      <div class="form-group row">
        <label for="inputTracker" class="col-sm-2 col-form-label"> <input id="inputTracker" type="checkbox" name="checkTracker">
          Tracker</label>
        <div class="col-sm-10">
          <select class="custom-select" name="inputTracker">
            <option value="">Choose Issue Tracker</option>
            <option value="bug">Bug</option>
            <option value="feature">Feature</option>
            <option value="support">Support</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn" style="background-color: #321a75; color: #fff;">Search</button>
          <a class="btn btn-success" href="/project/member/<%= result.projectid %>" role="button">Show All</a>
        </div>
      </div>
    </form>

    <hr>

    <h3>Options</h3>
    <form method="POST">
      <div class="row">
        <div class="col-sm-2">
          <p>Columns</p>
        </div>
        <div class="col-sm-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="chkid" value="true" id="chkid" <%= option.chkid ? 'checked' : '' %> >
            <label class="form-check-label" for="chkid">ID</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="chktracker" name="chktracker" value="true"
              <%= option.chktracker ? 'checked' : '' %>>
            <label class="form-check-label" for="chktracker">Tracker</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="chksubject" name="chksubject" value="true"
              <%= option.chksubject ? 'checked' : '' %>>
            <label class="form-check-label" for="chksubject">Subject</label>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="chkdesc" value="true" id="chkdesc"
              <%= option.chkdesc ? 'checked' : '' %>>
            <label class="form-check-label" for="chkdesc">Description</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="chkstat" name="chkstat" value="true"
              <%= option.chkstat ? 'checked' : '' %>>
            <label class="form-check-label" for="chkstat">Status</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="chkpriority" name="chkpriority" value="true"
              <%= option.chkpriority ? 'checked' : '' %>>
            <label class="form-check-label" for="chkpriority">Priority</label>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="chkassignee" name="chkassignee" value="true"
              <%= option.chkassignee ? 'checked' : '' %>>
            <label class="form-check-label" for="chkassignee">Assignee</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="chkstartdate" name="chkstartdate" value="true"
              <%= option.chkstartdate ? 'checked' : '' %>>
            <label class="form-check-label" for="chkstartdate">Start Date</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="chkduedate" name="chkduedate" value="true"
              <%= option.chkduedate ? 'checked' : '' %>>
            <label class="form-check-label" for="chkduedate">Due Date</label>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="chkestimated" name="chkestimated" value="true"
              <%= option.chkestimated ? 'checked' : '' %>>
            <label class="form-check-label" for="chkestimated">Estimated</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="chkdone" name="chkdone" value="true"
              <%= option.chkdone ? 'checked' : '' %>>
            <label class="form-check-label" for="chkdone">Done</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="chkauthor" name="chkauthor" value="true"
              <%= option.chkauthor ? 'checked' : '' %>>
            <label class="form-check-label" for="chkauthor">Author</label>
          </div>
        </div>

      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn" style="background-color: #321a75; color: #fff;">Apply</button>
        </div>
      </div>
    </form>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="table-active">
            <th scope="col" <%= option.chkid ? '' : 'hidden' %> >ID</th>
            <th scope="col" <%= option.chktracker ? '' : 'hidden' %>>Tracker</th>
            <th scope="col" <%= option.chksubject ? '' : 'hidden' %>>Subject</th>
            <th scope="col" <%= option.chkdesc ? '' : 'hidden' %>>Description</th>
            <th scope="col" <%= option.chkstat ? '' : 'hidden' %>>Status</th>
            <th scope="col" <%= option.chkpriority ? '' : 'hidden' %>>Priority</th>
            <th scope="col" <%= option.chkassignee ? '' : 'hidden' %>>Assignee</th>
            <th scope="col" <%= option.chkstartdate ? '' : 'hidden' %>>Start Date</th>
            <th scope="col" <%= option.chkduedate ? '' : 'hidden' %>>Due Date</th>
            <th scope="col" <%= option.chkestimated ? '' : 'hidden' %>>Estimated Time (hours)</th>
            <th scope="col" <%= option.chkdone ? '' : 'hidden' %>>Done (%)</th>
            <th scope="col">File</th>
            <th scope="col" <%= option.chkauthor ? '' : 'hidden' %>>Author</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% dataIssues.forEach(item => { %>
          <tr>
            <th scope="row" <%= option.chkid ? '' : 'hidden' %>><%= item.issueid %></th>
            <td <%= option.chktracker ? '' : 'hidden' %>><%= item.tracker %></td>
            <td <%= option.chksubject ? '' : 'hidden' %>><%= item.subject %></td>
            <td <%= option.chkdesc ? '' : 'hidden' %>><%= item.description %></td>
            <td <%= option.chkstat ? '' : 'hidden' %>><%= item.status %></td>
            <td <%= option.chkpriority ? '' : 'hidden' %>><%= item.priority %></td>
            <td <%= option.chkassignee ? '' : 'hidden' %>><%= item.fullname %></td>
            <td <%= option.chkstartdate ? '' : 'hidden' %>><%= moment(item.startdate).format('LL') %></td>
            <td <%= option.chkduedate ? '' : 'hidden' %>><%= moment(item.duedate).format('LL') %></td>
            <td <%= option.chkestimated ? '' : 'hidden' %>><%= item.estimatedate %></td>
            <td <%= option.chkdone ? '' : 'hidden' %>><%= item.done %>%</td>
            <td><%= item.files %></td>
            <td <%= option.chkauthor ? '' : 'hidden' %>><%= item.authorname %></td>
            <td>
              <a class="btn btn-success btn-sm" href="/project/issues/<%= result.projectid %>/edit/<%= item.issueid %>" role="button">Edit</a>
              <a class="btn btn-danger btn-sm delete"
                onclick="return confirm('Are you sure you want to delete this item?');" href="#">Delete</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item <%= page <= 1 ? 'disabled' : '' %>">
          <a class="page-link"
            href="/project<%= url.replace(`page=${parseInt(page)}`, `page=${parseInt(page) - 1}`) %> %>"
            aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <% for (let i = 1; i <= totalPage; i++) { %>
        <li class="page-item <%= page == i ? 'active' : '' %>">
          <a class="page-link" href="/project<%= link.replace(`page=${page}`, `page=${i}`) %>"> <%= i %> </a>
        </li>
        <% } %>
        <li class="page-item <%= page >= totalPage ? 'disabled' : '' %>">
          <a class="page-link"
            href="/project<%= link.replace(`page=${parseInt(page)}`, `page=${parseInt(page) + 1}`) %>"
            aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

    <a class="btn" style="background-color: #321a75; color: #fff;" href="/project/issues/<%= result.projectid %>/add"
      role="button">Add</a>
  </div>
</div>

<%- include("../partials/_footer") %>