<%- include("../../partials/_sidebar") %>

<div class="col-9">
  <br>

  <h2 class="text-center"> Issues <small class="text-muted">#<%= result.projectid %> <%= result.name %></small></h2>
  <hr>

  <div class="container-fluid">
    <h3>Edit Issue</h3>
    <div class="card">
      <div class="card-body">
        <form ref="uploadForm" id="uploadForm" enctype="multipart/form-data" method="POST">
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Tracker</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tracker" id="gridRadios1" value="bug"
                    <%= data.tracker == 'bug' ? 'checked' : '' %>>
                  <label class="form-check-label" for="gridRadios1">
                    Bug
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tracker" id="gridRadios2" value="feature"
                    <%= data.tracker == 'feature' ? 'checked' : '' %>>
                  <label class="form-check-label" for="gridRadios2">
                    Feature
                  </label>
                </div>
                <div class="form-check disabled">
                  <input class="form-check-input" type="radio" name="tracker" id="gridRadios3" value="support"
                    <%= data.tracker == 'support' ? 'checked' : '' %>>
                  <label class="form-check-label" for="gridRadios3">
                    Support
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-group row">
            <label for="inputSubject" class="col-sm-2 col-form-label">Subject</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputSubject" name="subject" value="<%= data.subject %>">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputdesc" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="inputdesc" name="description" rows="3"
                value="hehehe"> <%= data.description %> </textarea>
            </div>
          </div>

          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Status</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="status" id="new" value="New"
                    <%= data.status == 'New' ? 'checked' : '' %>>
                  <label class="form-check-label" for="new">
                    New
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="status" id="prog" value="In Progress"
                    <%= data.status == 'In Progress' ? 'checked' : '' %>>
                  <label class="form-check-label" for="prog">
                    In Progress
                  </label>
                </div>
                <div class="form-check disabled">
                  <input class="form-check-input" type="radio" name="status" id="feed" value="Feedback"
                    <%= data.status == 'Feedback' ? 'checked' : '' %>>
                  <label class="form-check-label" for="feed">
                    Feedback
                  </label>
                </div>
                <div class="form-check disabled">
                  <input class="form-check-input" type="radio" name="status" id="resolved" value="Resolved"
                    <%= data.status == 'Resolved' ? 'checked' : '' %>>
                  <label class="form-check-label" for="resolved">
                    Resolved
                  </label>
                </div>
                <div class="form-check disabled">
                  <input class="form-check-input" type="radio" name="status" id="closed" value="Closed"
                    <%= data.status == 'Closed' ? 'checked' : '' %>>
                  <label class="form-check-label" for="closed">
                    Closed
                  </label>
                </div>
                <div class="form-check disabled">
                  <input class="form-check-input" type="radio" name="status" id="rejected" value="Rejected"
                    <%= data.status == 'Rejected' ? 'checked' : '' %>>
                  <label class="form-check-label" for="rejected">
                    Rejected
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Priority</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="priority" id="normal" value="Normal"
                    <%= data.priority == 'Normal' ? 'checked' : '' %>>
                  <label class="form-check-label" for="normal">
                    Normal
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="priority" id="high" value="High"
                    <%= data.priority == 'High' ? 'checked' : '' %>>
                  <label class="form-check-label" for="high">
                    High
                  </label>
                </div>
                <div class="form-check disabled">
                  <input class="form-check-input" type="radio" name="priority" id="urgent" value="Urgent"
                    <%= data.priority == 'Urgent' ? 'checked' : '' %>>
                  <label class="form-check-label" for="urgent">
                    Urgent
                  </label>
                </div>
                <div class="form-check disabled">
                  <input class="form-check-input" type="radio" name="priority" id="immediate" value="Immediate"
                    <%= data.priority == 'Immediate' ? 'checked' : '' %>>
                  <label class="form-check-label" for="immediate">
                    Immediate
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-group row">
            <label for="inputAssignee" class="col-sm-2 col-form-label">
              Assignee</label>
            <div class="col-sm-10">
              <select class="custom-select" name="assignee" id="inputAssignee" required>
                <option value="">Choose Member</option>
                <% user.forEach(item => { %>
                <option value="<%= item.userid %>" <%= item.userid == data.assignee ? 'selected' : '' %>>
                  <%= item.fullname %> </option>
                <% }) %>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" name="startdate" id="startDate"
                value="<%= moment(data.startdate).format('YYYY-MM-DD') %>" readonly>
            </div>
          </div>

          <div class="form-group row">
            <label for="dueDate" class="col-sm-2 col-form-label">Due Date</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" name="duedate" id="dueDate"
                value="<%= moment(data.duedate).format('YYYY-MM-DD') %>">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEstimate" class="col-sm-2 col-form-label">Estimated Time (Hours)</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="inputEstimate" name="estimatedtime"
                value="<%= data.estimatedate %>" readonly>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputAssignee" class="col-sm-2 col-form-label">
              Done (%)</label>
            <div class="col-sm-10">
              <select class="custom-select" name="done" id="inputdone" required>
                <option value="">Choose Percentage</option>
                <% for (let i = 0; i <= 100; i += 10) {  %>
                <option value="<%= i %>" <%= data.done == i ? 'selected' : '' %>><%= i %>%</option>
                <% } %>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputFiles" class="col-sm-2 col-form-label">File</label>
            <div class="col-sm-10">
              <input type="file" class="form-control-file" name="sampleFile" id="inputFiles">
              <br>
              <a href="/pictures/<%= data.files %>">
                <img src="/pictures/<%= data.files %>" alt="" srcset="" height="120px" width="120px">
              </a>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputspent" class="col-sm-2 col-form-label">Spent Time</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="inputspent" name="spenttime" value="<%= data.spenttime %>"
                required>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputtargetversion" class="col-sm-2 col-form-label">Target Version</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputtargetversion" name="targetversion" value="1.0" required>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputparenttask" class="col-sm-2 col-form-label">Parent Task</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputparenttask" name="parenttask" value="23">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn" style="background-color: #321a75; color: #fff;">Edit</button>
              <a class="btn btn-info" href="/project/issues/<%= result.projectid %>" role="button">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include("../../partials/_footer") %>